body{
    background: url(imgpia/266359925_872905013374728_2543814200328766509_n.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}